
body{ background-color: aquamarine
}

h1{
    color: blue;
    font-size: 50px;
    figure.left {
 float: left;
}

figure.left{
    background-color: lightslategray;
    border: black solid thin;
    padding: 5px;

}
   



   
  
        

    
   

}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}


    
        



  
    


 

header p {
    font-weight: bold;
    color: blue;
    font-style: italic;
    
}
header {
    background-color: chartreuse;

}

footer {
    background-color: yellow;
    border: black solid thin;
    padding-left: 5px;
    border-radius: 8px;

}
main {
    background-color: hotpink;
    border:black solid thin;
    padding left: 5px;
    border-radius: 8px;
}
   


    
         




.blue-text{
    color:blue;
}

#new-font{
    
    font-family:fantasy, cursive, serif;

}
figcaption {
   
font: bold smaller sans-serif;
    padding: 3px;
    text-align: left;
}

