
body{ background-color: aquamarine
}

h1{
    color: blue;
    font-size: 50px;
}

h2{
    color: green;
    font-size: 20px;

    
    
    
}

header p {
    font-weight: bold;
    color: blue;
    font-style: italic;
}

.red-heading {
    color:red;
}

.blue-text{
    color:blue;
}

#new-font{
    
    font-family:fantasy, cursive, serif;

}
